{% extends 'admin/change_list.html' %}
{% load i18n admin_static %}
{% block object-tools-items %}
  {{ blok.super }}
  {% if user.is_superuser or user.is_administrator %}
    <li>
      <a href="#" target="_blank" class="btn btn-high btn-success"
         onclick='document.getElementById("input-group-import").click();return false'>Импорт</a>
      <form name="StudentsImportForm" action="{% url 'admin:group-updating' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="input-group-import" type="file" name="file" accept=".xlsx" style="display:none;"
               onchange='document.getElementById("input-group-import-submit").click();return false'>
        <input id="input-group-import-submit" type="submit" value="submit" style="display:none;">
      </form>
    </li>
  {% endif %}
{% endblock %}