{% extends "base.html" %}

{% block title %}Новый пароль{% endblock %}
{% block content %}
{% load user_filters %}
  {% if validlink %}
  <form method="post" action="{% url 'users:password_reset_confirm' %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
  {% else %}
    {% with card_header='Ошибка' card_body='Ссылка сброса пароля содержит ошибку или устарела.' %}
    {% include 'users/includes/card.html' %}
    {% endwith %}
  {% endif %}
{% endblock %}